
<h1>{{ heading }}</h1>

<ul>
    {{#each barsData}}
    <li>
    <a href="{{this.id}}">
        <div>
            <h2>{{ this.name }}</h2>
            {{!-- <p>{{ disRating rating }}</p> --}}
            <p>{{ this.type }}</p>
        </div>
    </a>
    </li>
    {{/each}}
    
</ul>
